In [1]:
import pandas as pd

data = pd.read_excel("OpArticles/OpArticles_ADUs.xlsx")

In [38]:
data_tmp = data.groupby(["tokens", "label"], as_index=False).agg({"annotator":"count"})

data_tmp

                                                  tokens  label  annotator
0      "porque é mais prático e, o que é pior, para t...   Fact          1
1      "revolução" é um termo frequente na literatura...   Fact          2
2      "revolução" é um termo frequente na literatura...  Value          1
3      (In)felizmente, essas relações acabam, mais ce...   Fact          1
4                    (em 2017 foram quatro vezes maiores   Fact          1
...                                                  ...    ...        ...
13845  “tratando-se de pares cujos elementos pertence...   Fact          1
13846  “um instituto universitário especializado com ...   Fact          1
13847  “um militar na polícia, nem consegue ser bom p...  Value          1
13848                           “Água pura, cristalina.”   Fact          1
13849      “área verde de enquadramento de espaço canal”  Value          1

[13850 rows x 3 columns]

In [39]:
data_uniq = data_tmp.groupby(["tokens"], as_index=False).agg({"label":"count"})
data_uniq[data_uniq.label > 2]

                                                  tokens  label
155    A ambição neste sentido deve ser sempre atingi...      3
192    A ciência não pode ficar guardada em discos rí...      3
254    A distribuição dos perfis científicos dos inve...      3
457                         A paz, nunca houve como hoje      3
488    A proposta de DL abre, finalmente, o recrutame...      3
...                                                  ...    ...
10715  sucessivos escândalos revelarem como o sector ...      3
10872  tanto contribuintes como pensionistas estão ex...      3
11146               traz benefícios para os consumidores      3
11671                              É tudo cómico na FIFA      3
11928  é tão importante que seja discutido fora dos g...      3

[72 rows x 2 columns]

In [55]:
data_uniq = data_tmp.groupby(["tokens"], as_index=False).agg({"annotator":"max", "label":"first"})

data_uniq.columns

Index(['tokens', 'annotator', 'label'], dtype='object')

In [56]:
data_uniq = data_uniq.drop("annotator", axis=1)

data_uniq

                                                  tokens  label
0      "porque é mais prático e, o que é pior, para t...   Fact
1      "revolução" é um termo frequente na literatura...   Fact
2      (In)felizmente, essas relações acabam, mais ce...   Fact
3                    (em 2017 foram quatro vezes maiores   Fact
4      (pelo que julgo poder deduzir) não está obriga...   Fact
...                                                  ...    ...
12003  “tratando-se de pares cujos elementos pertence...   Fact
12004  “um instituto universitário especializado com ...   Fact
12005  “um militar na polícia, nem consegue ser bom p...  Value
12006                           “Água pura, cristalina.”   Fact
12007      “área verde de enquadramento de espaço canal”  Value

[12008 rows x 2 columns]

In [52]:
data_uniq.to_excel("./OpArticles/NoConflicts.xlsx", index=False)